name: Release

on:
  push:
    tags:
      - "[0-9]*.[0-9]*.[0-9]*"

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Restore
      run: dotnet restore src/
    - name: Build
      run: .\make.bat ${{ github.ref_name }}
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        files: build_installer/LenovoLegionToolkitSetup.exe
        fail_on_unmatched_files: true
    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: installer
        path: build_installer/LenovoLegionToolkitSetup.exe
